body {
    font-family: sans-serif;
    margin: 0;
}
section, footer {
    margin: 20px;
}
#game {
    width: 400px;
    display: inline-block;
}
.cell {
    font-family: arial;
    background-color: #ccc;
    display: inline-block;
    height: 100px;
    padding-top: 20px;
    width: 100px;
    text-align: center;
    font-size: 40px;
    box-sizing:border-box;
    border-bottom: 5px solid #fff;
    border-right: 5px solid #fff;
}
.buttons {
    display: inline-block;
    margin: 20px;
}
.buttons button {
    padding:20px;
    font-size: 40px;
}
button#up {
    margin-left: 40px;
    display:block;
}
button#down {
    margin-left: 40px;
    display:block;
}

#solver {
    background-color: #f6f6f6;
    padding: 20px;
    margin: 20px 0;
}
#solver :first-child {
    padding-top: 0;
    margin-top: 0;
}

#play {
    background-color: hsl(351, 84%, 57%);
    border: 0;
    border-radius: 6px;
    display: inline-block;
    padding: 8px 24px;
    color: #fff;
    font-size: 1.6em;
    cursor: pointer;
}
#play:hover {
    background-color: hsl(351, 84%, 40%);
}